/* ====================== Variáveis globais ====================== */
:root {
  /* Textos - Tamanho */
  --h1-tam: 40px;
  --h2-tam: 36px;
  --h3-tam: 32px;
  --h4-tam: 24px;
  --h5-tam: 20px;
  --h6-tam: 18px;
  --p-tam: 16px;

  /* Textos - Peso */
  --bold: 700;
  --regular: 400;

  /* Cores Background */
  --bg-primaria: #F4F5EF;
  --bg-secundaria: #594A37;

  /* Cores */
  --primaria: #5F6F8A;
  --secundaria: #987B59;
  --terciario: #F4F5EF;
  --quartnaria: #594A37;

  /* Cores Texto */
  --text-primaria: #000;    
  --text-alternada: #fff;
}

@media (min-width: 768px) {
  :root {
      --h1-tam: 44px;
      --h2-tam: 48px;
      --h3-tam: 40px;
      --h4-tam: 32px;
      --h5-tam: 24px;
      --h6-tam: 20px;
  }
}

/* ====================== CSS ====================== */

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 120%;
}

h1 {
  font-size: var(--h1-tam);
}

h2 {
  font-size: var(--h2-tam);
}

h3 {
  font-size: var(--h3-tam);
}

h4 {
  font-size: var(--h4-tam);
}

h5 {
  font-size: var(--h5-tam);
}

h6 {
  font-size: var(--h6-tam);
}

p {
  font-size: var(--p-tam);
  line-height: 150%;
}

a {
  font-size: var(--a-tam);
  text-decoration: none;
}

img {
  -webkit-user-drag: none;    
  user-drag: none;
}

.overflow-hidden{
  overflow: hidden;
}

.tagline {
  font-weight: var(--bold);
  text-transform: uppercase;
}

.contact__link {
  background: var(--terciario);
  background-size: 800px;

  width: fit-content;
  padding: 12px 24px;
  border-radius: 8px;
  box-shadow: #f5efe9 0px 0px 0px;
  color: var(--text-primaria);
  transition: ease-in .4s background-position, ease-in .6s box-shadow;

  &:hover {
      background-position: 100%;
      box-shadow: #f5efe9 0px 0px 25px;
  }
}

section {
  padding: 64px 1rem;
}

footer {
  padding: 1rem 5%;
}

/* ====================== TABLETS ====================== */

@media (min-width: 768px) {

  section {
      padding: 4rem 6rem;
  }
}

/* ====================== DESKTOP ====================== */

@media (min-width: 1024px) {

  section {
      padding: 4rem 5%;
  }
}